/ std tags
meta charset="UTF-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta http-equiv="Content-Type" content="text/html; charset=utf-8"
meta name="fragment" content="!"
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"

/ std seo tags
title Hail Mary - Experimental NFL Pool
meta name="description" content="Let's see if this works"
meta name="keywords" content="NFL"
